.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

content/Coding Scripts/data/population_data_Germany/*
content/Coding Scripts/visualization_population.html
lonboard_vis/
.ipynb_checkpoints/
