.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/scripts/data/Zensus2022_Bevoelkerungszahl_100m-Gitter.csv
content/scripts/data/Datensatzbeschreibung_Bevoelkerungszahl_Gitterzellen.xlsx

