.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/scripts/data/population_data_Germany/Datensatzbeschreibung_Bevoelkerungszahl_Gitterzellen.xlsx
content/scripts/visualization_population.html
lonboard_vis/

